body {
    margin: 0;
    padding: 0;
}

.cardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    /* grid-template-columns: auto auto auto; */
}

#card {
    /* width: 30vw; */
    /* height: 50vh; */
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    margin: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    cursor: pointer;
}

#card a {
    text-decoration: none;
    color: black;
}

#card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

#card h5 {
    margin: 10px;
    font-size: 18px;
    font-weight: 700;
}

#card p {
    margin: 10px;
    font-size: 16px;
    font-weight: 400;
}

#card button {
    margin: 10px;
    padding: 8px 12px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#card:hover {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
    transform: scale(1.02, 1.02);
    transition: 0.3s;
}

/* Show Route */
.show {
    display: flex;
    flex-direction: column;
    margin: 2em;
    position: relative;

}

.show img {
    width: 100%;
    height: 550px;
    object-fit: fill;
    display: block;
    margin: auto;

}

.show h1 {
    text-align: center;
    margin: 20px;
    font-size: 3.6vmax;
    font-weight: 700;
}

.show p {
    margin: 2px 20px;
    font-size: 2vmax;
    font-weight: 400;
}
#flexS{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#flexforShow form {
    margin: 15px;
}

/* New/Edit Route */

.form {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}

.form input,
.form textarea {
    width: 80vw;
    padding: 10px;
    font-size: 16px;
    border: 1px solid gray;
    border-radius: 5px;
}

#flex {
    display: flex;
    gap: 20px;
}

#flex input {
    /* display: flex;
    flex-direction: column; */
    width: 100%;
    margin-bottom: 15px;
}


@media (max-width: 600px) {
    .show img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        margin: auto;

    }
}