<% layout("/layout/boilerplate") %>

    <body>
        <h3> Oops! An Error Occurred.
        </h3>
        <!-- <video src="error.mp4"></video> -->
        <video width="683" height="683" loop="" autoplay="" preload="auto" playsinline="true" style="max-width: 683px;"><source src="https://media.tenor.com/ADA_OMteLMEAAAPo/jungle-404.mp4" type="video/mp4"><source src="https://media.tenor.com/ADA_OMteLMEAAAPs/jungle-404.webm" type="video/webm"></video>
        <div class="tenor-gif-embed" data-postid="12002969" data-share-method="host" data-aspect-ratio="1.69312" data-width="100%"><a href="https://tenor.com/view/jungle-404-not-found-funny-shock-gif-12002969">Jungle 404 GIF</a>from <a href="https://tenor.com/search/jungle-gifs">Jungle GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
    </body>